* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 80px;
    margin-bottom: 60px;
}

.content{
    min-height: 100vh;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
}

#login-button {
    cursor: pointer;
}

.nav-item a {
    font-weight: 300;
}

#nameSearch {
    border: none;
    border-radius: 0;
    border-bottom: #d3d3d3 solid 1px;
    margin-bottom: 10px;
}

#nameSearch:focus {
    border: none;
    box-shadow: none;
    background: #ececec;
}

.searchIcon {
    fill: black;
    height: 14px;
    animation: 2s search infinite;
}

@keyframes search {
    50% {
        fill: rgb(100, 99, 99);
        transform: scale(1.2);
    }
}